/* 
------------------------------------------------------------------------------------------------------------------------
* GENERAL
--------------------------------------------------------------------------------------------------------------------------
*/


body {
    /* min-width in 960_24 TODO*/
    background-color:  gainsboro;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    
}

.window {
    padding-top: 3.5em;
    height: 41em;
}

.window_footer {
    height: 5.5em;
}

.window_article {
    height: 47em;
}
/*BUTTONS & ICONS*/

button {
    border-radius: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
}


.icon {
    width: 5em;
}

.icon_button {
    width: 2em;
    height: auto;
}

.icon_flag {
    width: 5em;
}

.icon_download {
    width: 5em;
}

.share_buttons {
    margin-right: 0.1em;
    margin-top: 0.1em;
}

/*
* TEXT
*/

.title h1, .title h2, .title h3 { /*!so*/
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    float:right;
}

p {
    font-size: 1em;
}


/*
---------------------------------------------------------------------------------------------------------------------------
* HEADER
-----------------------------------------------------------------------------------------------------------------------------
* top header with titles and logo
*/

.header {
    /*max-width: 960px;*/
}

.header .title h1, .header .title h2, .header .title h3 {
    color: red;
}

.header .title h1 {
    font-size: 1.85em;    
    margin-bottom: 0.3em;
}

.header .title h2 {
    
    margin-bottom: 0;
}


.header .title h3 {
    
    margin-top: 1.025em;
    margin-bottom: 0;
}

@media (max-width: 481px) {
    .header .title h2 {
        font-size: 0.5vw;
    }
}

@media (min-width: 481px) {
    .header .title h2 {
        font-size: 1.1em;
    }
}

@media(min-width: 641px) {
    .header .title h2 {
        font-size: 1.25em;
    }
}

@media(min-width : 801px) {
    .header .title h2 {
        font-size: 1.5em;
    }
}

@media(max-width: 801px) {
    .header .title h3 {
        float: left;
    }
}


@media (max-width: 641px) {
    .header .title h3 {
        font-size: 2.25vw;
    } 
}

@media (min-width: 641px) {
    .header .title h3 {
        font-size: 2.7vw;
    }
}

@media (min-width: 801px) {
    .header .title h3 {
        font-size: 1.3vw; /*1.15em*/
    }
}

.logo {
    
    margin-left: 5px;
    margin-right: 5px;

    position: fixed;

    /*cf grid 960 px 24 col **/
}

@media(max-width: 801px) {
    .logo {
        margin-top: 10em;
    }
}

@media(min-width: 801px) {
    .logo {
        margin-top: 5em; /*5em so! to be over main red button*/
    }
}


.logo td {
    border: solid;
    text-align: center;
    font-size: 1.1em; /*so! cf. main_red fr en */
    height: 4em;
    font-family: helvetica, arial, sans-serif;
}



.logo a {
    text-decoration: underline;
}

.logo a:hover {
    color: red;
}



/*
---------------------------------------------------------------------------------------------------------------------------
* UNDER HEADER
-----------------------------------------------------------------------------------------------------------------------------
* where flags are
*/

.under_header {
    padding-top: 13em;
    margin-right: 5px;
}

/*
------------------------------------------------------------------------------------------------------------------------------
* CONTAINER
----------------------------------------------------------------------------------------------------------------------
* content that must not be hidden by nav
*/

.container {
    padding-left: 115px;
    font-family: helvetica, arial, sans-serif;
}

.container h1 {
    margin-top: 5em;
}

.form {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 2.5vw;
    background-color: brown;
    font-family: monospace;
}



.form input {
    font-size: 1.5em;
    text-align: right;
    display: block;
    color: red;
}

.form label {
    color: whitesmoke;
}

.form a {
    color: whitesmoke;
    text-decoration: underline;
}


.form button {
    margin-top: 0.5em;
}

/*
------------------------------------------------------------------------------------------------------------------------------
* MAIN RED
----------------------------------------------------------------------------------------------------------------------
*/

.main_red {
    font-size: 2.6vw;
    padding-top: 0.5em;
    padding-right: 5px;
    text-align: center;
    background-color: lightcyan;
    
}

.main_red button {
    float: right; /* so! fr & en & not hidden by fixed nav */
    background-color: red;
}

/*
------------------------------------------------------------------------------------------------------------------------------
* SKILLS
----------------------------------------------------------------------------------------------------------------------
*/

.window_main {
    padding-top: 0em;
}


/*
------------------------------------------------------------------------------------------------------------------------------
* PROFILE
----------------------------------------------------------------------------------------------------------------------
*/

.profile_labels label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: red;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 3vw;
}

.profile_labels {
    margin-top: 1em;
    margin-bottom: 5em;
    margin-right: 5px;
}






/*
------------------------------------------------------------------------------------------------------------------------------
* CONTACT
----------------------------------------------------------------------------------------------------------------------
*/


.contact button {
    background-color: green;
    color: antiquewhite;
    margin-right: 2em;
    margin-top: 3em;
    font-size: 3vw;
}

.contact_pool {
    padding-top: 1em;
    padding-left: 0;
}



/*
------------------------------------------------------------------------------------------------------------------------------
* CREATIONS
----------------------------------------------------------------------------------------------------------------------
*/



.creations_main .form {
    margin-right: 0;
}

.creations_main .form li {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: block;
    font-size: 1.5em;
}

.creation_eye {
    margin-left: 10px;
}

.download {
    font-size: 1.5em;
}
.download {
    margin-top: 3em;
}


/*
------------------------------------------------------------------------------------------------------------------------------
* INDICES 
----------------------------------------------------------------------------------------------------------------------
*/


.indices .form {
    margin-right: 0;
}

.indices .form input {
    font-size: 1em;
    display: inline-block;
    width: auto;
    background-color: brown;
    color: whitesmoke;
}

.technologies_all {
    padding-left: 0px;
    margin-left: 10px;
}

/*
------------------------------------------------------------------------------------------------------------------------------
* FOOTER 
----------------------------------------------------------------------------------------------------------------------
*/

.footer {
    background-color: green;
    padding-top: 1.5em;
}

.footer a {
    font-family: monospace;
    color: black;
}

/*
------------------------------------------------------------------------------------------------------------------------------
* CREATIONS DETAILS 
----------------------------------------------------------------------------------------------------------------------
* each creation in an article
* each article in a card
*/

.creation_template_header {
    margin-top: 0em;
}

.creation_template_header a {
    font-size: 1em;
}

.card {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: lightcyan;
}

.article {
    margin-left: 10px;
    margin-right: 5px;
    
}

.article_header {
    background-color: antiquewhite;
}

.article_header h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 2em;   
}




.promotion h2 {
    margin-top: 1.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: antiquewhite;
    font-size: 1.5em;
}

.promotion h3 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 1.25em;
}

.spec_tech {
    max-width: 440px;
    padding-left: 10px;

}

h4, .article_footer {
    background-color: red;
}

.article_footer button {
    
}
/**
* responsive .title h3
*/
@media screen and (max-width: 800px) { /*860px*/
    .title h3 {
        font-size: 2.2vw; 
    }
}

@media screen and (max-width: 800px) { /*860px*/
    .title h3 {
        font-size: 2.2vw; 
    }
}

@media screen and (min-width: 1700px) { /*860px*/
    .title h3 {
        font-size: 1.65vw; 
    }
}

@media screen and (min-width: 2000px) {
    .title h3 {
        font-size: 1.5em;
    }
}



h3, h4, h5 {
    font-size: 1.5em;
}
.title h1, .title h2, .title h3, .article_title h1, h2, h5, h3 {
    background-color: antiquewhite;
}
.title  {
    font-family: helvetica, arial, sans-serif;
}

/* 
------------------------------------------------------------------------------------------------------------------------
* IMAGES 
--------------------------------------------------------------------------------------------------------------------------
*/

.modal {
    max-width: 960px;
}

.modal img {
    width: 100%;
}


.image_site {
    
    overflow: hidden;
    min-width: 365px;
    
}

.image_site img {
    
    width: 100%;
    
}

.visit_card_container {
    max-width: 22.5em;
}

.visit_card {
    width: 100%;
    height: auto;
    display: block;
}

