
/* TAGS
*
*/
button {
    border-radius: 1.5em;
}

h5 {
    font-size: 1em;
    background-color: antiquewhite;
}

/* COLORS
* 
*/
.black, .main_header, .article_footer {
    background-color: #383838;
}

.dark, .card, body {
    background-color: #586C5E;
}

.blue, #skills {
    background-color: #488AC7;
}

.yellow, #profile {
    background-color: yellow;
}


.green, #contact {
    background-color: green;
}

.orange, #creations {
    background-color: orange;
}

.grenat, #indices {
    background-color: #7D1D31;
}

.red, .main_red, h4 {
    background-color: red;
}

.white_smoke {
    background-color: whitesmoke;
}

.antique_white, .article_header {
    background-color: antiquewhite;
}

/*
* COLOR AND TEXT BEHAVIOR
*/

.blue a, .green a, .grenat a {
    color: antiquewhite;
    text-decoration: none;
}

.yellow a, .orange a {
    color: black;
    text-decoration: none;
}

/*
* FONTS
**/

.main_header {
    font-family: sans-serif;
}

.main_container h1 {
    font-size: 2em;
}


/* BEHAVIORS
*
*/


.alternative {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right, .section_footer {
    float:right;
}




/* FORMAT
*
*/
/* tags */

button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
}

/* component classes */

.main_header {
    width: 100%;
}


.card {
    width: 100%;
}

.logo {
    position: fixed;
    padding-top: 5em;
}

.logo td {
    border: solid;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font: 1.5em sans-serif;
}

.logo a {
}

.main_red {
    margin-left: 5em;
    font-size: 3em;
}



/*
* TITLES
**/


.title {
    padding-left: 2em;
    font-family: sans-serif;
}

.title h1, h2, h3 {
    background-color: antiquewhite;
    float: right;
}

.title h1, h2, h3 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.article_title h1, h2 {
    background-color: antiquewhite;
    
}


.article_title h1, h2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.article_header h1 {
    margin-bottom: 0.5em;
    
}



.main_container {
    padding-top: 10em;
    padding-bottom: 30em;
    padding-left: 25em;
    padding-right: 1em;
    font-family: sans-serif;
    
}


section td {
    padding-right: 2em;
    padding-left: 2em;
}

.translation {
    padding-top: 17em;
    padding-right: 1em;
}

.main_container {
    
}

.modale {
    
}

.icon {
    width: 10em;
    height: 10em;
}

.icon_button {
    width: 2em;
    height: auto;
}

.image_button {
    width: 12em;
    height: auto;
}

.image_site {
    width: 800px;
    height: auto;
    
}

.cart_pro {
    width: 22.5em;
    height: auto;
    display: block;
}

.skill {
    
}

.skill li {
    background-color: antiquewhite;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: block;
}
.skill a {
    margin-left: 9em;
}

.profile label {
    background-color: red;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.25em;
}



/*
* SPECIAL ID
*/

#article_manchester {
    max-width: 800px;
}

#article_devis {
    max-width: 485px;
}

#article_direct_molto {
    max-width: 650px;
}

#article_programmer {
    max-width: 850px;
}


