h5 {
    font-size: 1em;
    background-color: antiquewhite;
}
/* DESIGN
*
*/
button {
    border-radius: 1.5em;
}



.table table {
    padding-top: 0.5em;
    margin-top: 0.5em;
}

.table button {
    margin-top: 0.5em;
}
/* COLORS
* 
*/
.black, .main_header, .article_footer {
    background-color: #383838;
}

.dark, .card, body {
    background-color: #586C5E;
}

.blue, #skills {
    background-color: #488AC7;
}

.yellow, #profile {
    background-color: yellow;
}


.green, #contact {
    background-color: green;
}

.orange, #creations {
    background-color: orange;
}

.grenat, #indices {
    background-color: #7D1D31;
}

.red, .main_red, h4 {
    background-color: red;
}

.white_smoke {
    background-color: whitesmoke;
}

.antique_white, .article_header, .article_title h1, h2  {
    background-color: antiquewhite;
}


/*
* COLOR AND TEXT BEHAVIOR
*/

.blue a, .green a, .grenat a {
    color: antiquewhite;
    text-decoration: none;
}

.yellow a, .orange a {
    color: black;
    text-decoration: none;
}

/*
* FONTS
**/

.main_header {
    font-family: sans-serif;
}
.main_red {
    font-size: 3em;
}
.main_container h1 {
    font-size: 2em;
}

.skills li {
    font-size: 1.5em;
}


/* BEHAVIORS
*
*/


.alternative {
    display: none;
}

.block, .flags_buttons button, .skills li, .list_creations li {
    display: block;
}

.fixed, .flags_buttons {
    position: fixed;
    
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.right, .section_footer {
    float:right;
}



/* FORMAT
*
*/
/* tags */

button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
}

/* component classes */

.main_header {
    width: 100%;
}


.card {
    width: 100%;
    margin-bottom: 2em;
    padding-left: 0em;
    
}

.logo {
    position: fixed;
    padding-top: 5em;
}

.logo td {
    border: solid;
    width: 140px;
    height: 1.5em;
    text-align: center;
    font: 1.5em sans-serif;
}

.logo a {
    text-decoration: underline;
}

.logo a:hover {
    color: red;
}

.main_red {
    margin-left: 5em;
}



/*
* TITLES
**/


.title {
    padding-left: 2em;
    font-family: sans-serif;
}

.title h1, h2, h3 {
    background-color: antiquewhite;
    float: right;
}

.title h1, h2, h3 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}




.article_title h1, h2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.article_header h1 {
    margin-bottom: 0.5em;
    
}



.main_container {
    padding-top: 8em;
    padding-bottom: 32em;
    padding-left: 25em;
    padding-right: 1em;
    font-family: sans-serif;
    
}




section td {
    padding-right: 2em;
    padding-left: 2em;
}

.translation {
    padding-top: 15em;
    padding-right: 1em;
    
    
}




.icon {
    width: 10em;
    height: 10em;
    padding-top: 2em;
}


.icon_button {
    width: 2em;
    height: auto;
}

.image_button {
    width: 12em;
    height: auto;
}

.image_site_detail img {
    width: 100%;
    height: auto;
    
}

.visit_card {
    width: 22.5em;
    height: auto;
    display: block;
}

.flags_buttons {
    margin-top: 9em;
    padding-left: 5.5em;
}

.share_buttons {
    padding-right: 0.1em;
    padding-top: 0.1em;
}


.skills li, .list_creations li {
    background-color: antiquewhite;
    margin-top: 0em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.skill a {
    margin-left: 9em;
}

.list_creations a {
    padding-left: 1.5em;
    color: blue;
}

.profile label {
    background-color: red;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.25em;
}

.profile_labels {
    padding-top: 2em;
}


/*
* SPECIAL ID
*/

#article_manchester {
    max-width: 760px;
}

#article_devis {
}

#article_direct_molto {
    
}

#article_programmer {
    
}


